{% extends 'base/base.html' %}

{% block content %}
<div style="height: 113px;"></div>

<div class="unit-5 overlay" style="background-image: url('media/cv.jpg');">
  <div class="container text-center">
    <h2 class="mb-0">About us</h2>
    <p class="mb-0 unit-6"><a href="{% url 'Home:index' %}">Home</a> <span class="sep">></span> <span>About</span></p>
  </div>
</div>

<br>
<br>

<h1>Access to Updated Tender </h1>
<p>E-Tender is your dedicated website that brings you tender information from all corners of the country.

        Here at E-Tender, we understand that following tenders is hard, tiresome and requires time and sometimes it requires you hiring more staff dedicated for this job. It might even be hard to imagine going after every newspaper in town, and from different regions of the country and collecting tenders, organize and choose which one are suitable for your business, and saving those papers which contains your business tenders.
        
        Well, you don’t have to do that anymore. We handle all those jobs for you so that you just get the tenders on our website, processed, edited, and finally classified according to your business area.
        
        Even better, we will email you a notification immediately, when those tenders matching your interest and your business area are posted on our website. This way you don’t even have to check the website everyday to check for tenders. All you need to do is follow the email alerts. </p>

<h1>WHAT WE COVER</h1>
<p>E-Tender brings you tenders from many sources and we monitor updates from newspapers, regional newspapers, government websites, NGOs and International organizations websites and other firsthand sources.

        Daily Newspapers like Addis Zemen, Ethiopian Herald, Daily Monitor, and weekly newspapers like Fortune, Capital, Reporter [both Amharic & English], Ethio-Channel, Addis Admas, Addis Lesan and others are covered on the day the tenders are posted. </p>


        <div class="site-section">
                <div class="container">
                  <div class="row justify-content-center text-center mb-5">
                    <div class="col-md-6" data-aos="fade" >
                      <h2>Frequently Ask Questions</h2>
                    </div>
                  </div>
                  
          
                  <div class="row justify-content-center" data-aos="fade" data-aos-delay="100">
                    <div class="col-md-8">
                      <div class="accordion unit-8" id="accordion">
                      <div class="accordion-item">
                        <h3 class="mb-0 heading">
                          <a class="btn-block" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">What is the name of your company<span class="icon"></span></a>
                        </h3>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="body-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur quae cumque perspiciatis aperiam accusantium facilis provident aspernatur nisi optio debitis dolorum, est eum eligendi vero aut ad necessitatibus nulla sit labore doloremque magnam! Ex molestiae, dolor tempora, ad fuga minima enim mollitia consequuntur, necessitatibus praesentium eligendi officia recusandae culpa tempore eaque quasi ullam magnam modi quidem in amet. Quod debitis error placeat, tempore quasi aliquid eaque vel facilis culpa voluptate.</p>
                          </div>
                        </div>
                      </div> <!-- .accordion-item -->
                      
                      <div class="accordion-item">
                        <h3 class="mb-0 heading">
                          <a class="btn-block" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">How much pay for 3  months?<span class="icon"></span></a>
                        </h3>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="body-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ad laborum expedita. Nostrum iure atque enim quisquam minima distinctio omnis, consequatur aliquam suscipit, quidem, esse aspernatur! Libero, excepturi animi repellendus porro impedit nihil in doloremque a quaerat enim voluptatum, perspiciatis, quas dignissimos maxime ut cum reiciendis eius dolorum voluptatem aliquam!</p>
                          </div>
                        </div>
                      </div> <!-- .accordion-item -->
          
                      <div class="accordion-item">
                        <h3 class="mb-0 heading">
                          <a class="btn-block" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">Do I need to register?  <span class="icon"></span></a>
                        </h3>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="body-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ad laborum expedita. Nostrum iure atque enim quisquam minima distinctio omnis, consequatur aliquam suscipit, quidem, esse aspernatur! Libero, excepturi animi repellendus porro impedit nihil in doloremque a quaerat enim voluptatum, perspiciatis, quas dignissimos maxime ut cum reiciendis eius dolorum voluptatem aliquam!</p>
                          </div>
                        </div>
                      </div> <!-- .accordion-item -->
          
                      <div class="accordion-item">
                        <h3 class="mb-0 heading">
                          <a class="btn-block" data-toggle="collapse" href="#collapseFour" role="button" aria-expanded="false" aria-controls="collapseFour">Who should I contact in case of support.<span class="icon"></span></a>
                        </h3>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="body-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ad laborum expedita. Nostrum iure atque enim quisquam minima distinctio omnis, consequatur aliquam suscipit, quidem, esse aspernatur! Libero, excepturi animi repellendus porro impedit nihil in doloremque a quaerat enim voluptatum, perspiciatis, quas dignissimos maxime ut cum reiciendis eius dolorum voluptatem aliquam!</p>
                          </div>
                        </div>
                      </div> <!-- .accordion-item -->
          
                    </div>
                    </div>
                  </div>
                
                </div>
              </div>
          


    {% endblock %}


