{% extends 'base/base.html' %}

{% block content %}
<div style="height: 113px;"></div>

<div class="unit-5 overlay" style="background-image: url('../../media/cv.jpg');">
  <div class="container text-center">
    <h2 class="mb-0">About us</h2>
    <p class="mb-0 unit-6"><a href="{% url 'Home:index' %}">Home</a> <span class="sep">></span> <span>About</span></p>
  </div>
</div>

<br>
<br>
<div class="about">
<h1>Access to Updated Tender </h1>
<p>Addis Tender is your dedicated website that brings you tender information from all corners of the country.

        Here at Addis Tender, we understand that following tenders is hard, tiresome and requires time and sometimes it requires you hiring more staff dedicated for this job. It might even be hard to imagine going after every newspaper in town, and from different regions of the country and collecting tenders, organize and choose which one are suitable for your business, and saving those papers which contains your business tenders.
        
        Well, you don’t have to do that anymore. We handle all those jobs for you so that you just get the tenders on our website, processed, edited, and finally classified according to your business area.
        
        Even better, we will email you a notification immediately, when those tenders matching your interest and your business area are posted on our website. This way you don’t even have to check the website everyday to check for tenders. All you need to do is follow the email alerts. </p>

<h1>WHAT WE COVER</h1>
<p>Addis Tender brings you tenders from many sources and we monitor updates from newspapers, regional newspapers, government websites, NGOs and International organizations websites and other firsthand sources.

        Daily Newspapers like Addis Zemen, Ethiopian Herald, Daily Monitor, and weekly newspapers like Fortune, Capital, Reporter [both Amharic & English], Ethio-Channel, Addis Admas, Addis Lesan and others are covered on the day the tenders are posted. </p>

</div>
</div>

        <div class="site-section">
                <div class="container">
                  <div class="row justify-content-center text-center mb-5">
                    <div class="col-md-6" data-aos="fade" >
                      <h2>Frequently Ask Questions</h2>
                    </div>
                  </div>
                  
          
                  <div class="row justify-content-center" data-aos="fade" data-aos-delay="100">
                    <div class="col-md-8">
                      <div class="accordion unit-8" id="accordion">
                      <div class="accordion-item">
                        <h3 class="mb-0 heading">
                          <a class="btn-block" data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">How do I subscribe<span class="icon"></span></a>
                        </h3>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="body-text">
                            <p>Subscription is easier than you think. Click on “Register” menu located at the top of the screen and subscription option will appear. Select the subscription type 
                              you intend to subscribe for and then click on the “Subscribe Now” link on the subscription type. A form will appear on which you have to fill out your personal and 
                              contact information. Click on “submit”. Then you wait for our company marketing personnel 
                              to contact you for the settlement of your subscription fee. After that your account will be activated and you will enjoy the benefit of AddisTender.</p>
                          </div>
                        </div>
                      </div> <!-- .accordion-item -->
                      
                      <div class="accordion-item">
                        <h3 class="mb-0 heading">
                          <a class="btn-block" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">Why can’t I be able to login after subscribing?<span class="icon"></span></a>
                        </h3>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="body-text">
                            <p>If you are a new subscriber you will need to settle your payment for your account to be activated. Once you have settled your payment your account will be active and you 
                              will be able to login without any problem. If you have already been using your account you might have forgotten your username and/or password. In that case click
                               on “forgot password” and then your login information will be sent to your e-mail account. If the above are not the case then your account might 
                              have expired and you will need to renew your subscription. For other cases than mentioned, please contact the Addis Tender Team at our address listed on the
                               “Contact Us” page.</p>
                          </div>
                        </div>
                      </div> <!-- .accordion-item -->
          
                      <div class="accordion-item">
                        <h3 class="mb-0 heading">
                          <a class="btn-block" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">How can I pay my subscription fee? <span class="icon"></span></a>
                        </h3>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="body-text">
                            <p>You can pay for the subscription by using the provided online payment platforms. </p>
                          </div>
                        </div>
                      </div> <!-- .accordion-item -->
          
                      <div class="accordion-item">
                        <h3 class="mb-0 heading">
                          <a class="btn-block" data-toggle="collapse" href="#collapseFour" role="button" aria-expanded="false" aria-controls="collapseFour">I forgot my username and/or password. How can I retrieve it?<span class="icon"></span></a>
                        </h3>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="body-text">
                            <p>Don’t panic if you forget your username and/or password. Just click on “forgot my password” located near the login box. By clicking on “forgot my password” you will get a dialogue box that will prompt you enter your e-mail address (the e-mail address should be the address you registered with Addis Tender), then click on “E-mail Password”. You will have your user account details (username and password) sent to your e-mail. Note: if the e-mail you enter on the “Forgot Password” 
                              doesn’t match with the e-mail in your E-Tender account you will not be able to get the login information. </p>
                          </div>
                        </div>
                      </div> <!-- .accordion-item -->
          
                    </div>
                    </div>
                  </div>
                
                </div>
              </div>
          


    {% endblock %}


