{% extends 'base/base.html' %}

{% block content %}



<div class="container">
  <div class="row">
    <div class="row mb-3">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6 mb-3 mb-md-0">
          <div class="content-section">


<form method="POST" class="p-5 bg-white" enctype="multipart/form-data">
  <div class="row form-group">

        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Profile Info</legend>
          {{u_form}}
          {{p_form}}          
        </fieldset>

        <div class="form-group">
          <button class="bg-primary text-white py-3 px-4 rounded" class="icon-plus mr-3" type="submit">Update</button>
        </div>
      </div>

  </form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


{% endblock %}